<!DOCTYPE html>
<html>
  <head lang="en">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon' />
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/static/manifest.json" />
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="msapplication-TileImage" content="/static/mstile-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta charset="UTF-8" />
    <title>Ultron | Bullet Journal</title>
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link href="/static/ultron.css" rel="stylesheet" />
    <script src="/static/ultron.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header"></header>
      <article class="main">
        <div id="daily-container">
          <table>
            <tr>
              <th>
                My TODO LIST
              </th>
            </tr>
            {{range $k,$v:=.List}}
            <tr>
              <td>
                {{$v.ID}}
              </td>
              <td>
                {{$v.Body}}
              </td>
              <td>
                <a href="/delete/{{$v.ID}}">
                  <button>Delete</button>
                </a>
              </td>
            </tr>
            {{end}}
            <tr>
              <td colspan="2">
                <form method="post" action="/create">
                  <input name="task" />
                </form>
              </td>
            </tr>
          </table>
        </div>

        <div id="monthly-container" class="hide">
          monthly
        </div>

        <div id="future-container" class="hide">
          future
        </div>
      </article>

      <aside class="aside aside-1">
        <div class="bj-menu-container">
          <div class="bj-menu-item selected" id="daily-menu-item">
            Daily
          </div>
          <div class="bj-menu-item" id="monthly-menu-item">
            Monthly
          </div>
          <div class="bj-menu-item" id="future-menu-item">
            Future
          </div>
        </div>
      </aside>
      <aside class="aside aside-2"></aside>

      <footer class="footer"></footer>
    </div>
  </body>
</html>
